body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@300;700&amp;display=swap);
body {
  color: #303841;
  font-family: Rubik, sans-serif;
  margin: 0;
}
.main-content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  padding: 0 20px;
  max-width: 760px;
  margin: 0 auto;
}
.main-content:before {
  content: "";
  display: block;
  position: fixed;
  width: 300%;
  height: 100%;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  transform: translateX(-50%) skewY(-8deg);
  background-color: #f6c90e;
  z-index: -1;
  -webkit-animation: wave 8s ease-in-out infinite alternate;
  animation: wave 8s ease-in-out infinite alternate;
}
@-webkit-keyframes wave {
  0% {
    transform: translateX(-50%) skew(0deg, -8deg);
  }
  to {
    transform: translateX(-30%) skew(8deg, -4deg);
  }
}
@keyframes wave {
  0% {
    transform: translateX(-50%) skew(0deg, -8deg);
  }
  to {
    transform: translateX(-30%) skew(8deg, -4deg);
  }
}
@media only screen and (max-width: 800px) {
  .main-content {
    height: auto;
    flex-direction: column;
  }
}
@media only screen and (max-width: 480px) {
  .main-content {
    padding: 0 8px;
  }
}
.card {
  background-color: #fff;
  box-sizing: border-box;
  width: 360px;
  height: 600px;
  box-shadow: 0 3.2px 2.2px rgba(0, 0, 0, 0.02),
    0 7px 5.4px rgba(0, 0, 0, 0.028), 0 12.1px 10.1px rgba(0, 0, 0, 0.035),
    0 19.8px 18.1px rgba(0, 0, 0, 0.042), 0 34.7px 33.8px rgba(0, 0, 0, 0.05),
    0 81px 81px rgba(0, 0, 0, 0.07);
  border-radius: 30px;
  overflow: hidden;
  padding: 0 28px;
  position: relative;
  margin-bottom: 20px;
}
.card:before {
  content: "";
  display: block;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: #f6c90e;
  top: -20%;
  left: -50%;
  z-index: 0;
}
.card-top {
  margin: 12px 0;
  position: relative;
}
.card-top-logo {
  display: block;
  width: 50px;
}
.card-title {
  font-size: 24px;
  font-weight: 700;
  margin: 16px 0;
  position: relative;
}
.card-title-amount {
  float: right;
}
.card-body {
  height: calc(100% - 98px);
  position: relative;
  overflow-y: scroll;
  scrollbar-width: none;
}
.card-body::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 800px) {
  .card {
    margin: 20px auto;
  }
}
@media only screen and (max-width: 480px) {
  .card {
    width: 340px;
  }
}
@media only screen and (max-width: 320px) {
  .card {
    width: 300px;
    height: 480px;
    padding: 0 14px;
  }
}
.shop-item {
  padding: 40px 0;
}
.shop-item:first-child {
  padding-top: 0;
}
.shop-item-image {
  border-radius: 30px;
  height: 380px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.shop-item-image img {
  display: block;
  width: 100%;
  filter: drop-shadow(0 30px 20px rgba(0, 0, 0, 0.2));
  transform: rotate(-24deg);
  margin-left: -16px;
}
@media only screen and (max-width: 320px) {
  .shop-item-image {
    height: 240px;
  }
}
.shop-item-name {
  font-size: 20px;
  font-weight: 700;
  margin: 26px 0 20px;
  line-height: 1.5;
}
.shop-item-description {
  font-size: 13px;
  color: #777;
  line-height: 1.8;
  margin-bottom: 20px;
}
.shop-item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shop-item-price {
  font-size: 18px;
  font-weight: 700;
}
.shop-item-button {
  cursor: pointer;
  background-color: #f6c90e;
  font-weight: 700;
  font-size: 14px;
  box-sizing: border-box;
  width: auto;
  height: 46px;
  min-width: 46px;
  padding: 16px 20px;
  border-radius: 100px;
  transition: all 0.25s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.shop-item-button:hover {
  background-color: #f8d43f;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.15);
}
.shop-item-button.inactive {
  width: 46px;
  pointer-events: none;
  cursor: default;
}
.shop-item-button-cover {
  width: 16px;
  height: 16px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop-item-button-cover-check-icon {
  width: 100%;
  height: 100%;
  transform: translate(-100%, -73%) rotate(-45deg);
  position: absolute;
  left: 50%;
  top: 50%;
}
.shop-item-button-cover-check-icon:after,
.shop-item-button-cover-check-icon:before {
  content: "";
  display: block;
  background-color: #303841;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 10px;
}
.shop-item-button-cover-check-icon:before {
  width: 3px;
  height: 50%;
}
.shop-item-button-cover-check-icon:after {
  width: 100%;
  height: 3px;
}
@media only screen and (max-width: 480px) {
  .shop-item {
    padding: 20px 0;
  }
}
.cart-empty {
  position: absolute;
}
.cart-empty-text {
  font-size: 14px;
}
.cart-item {
  display: flex;
  padding: 20px 0;
}
.cart-item-left {
  flex: 0;
}
.cart-item-right {
  flex: 1;
}
.cart-item-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 10px;
}
.cart-item-price {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}
.cart-item-actions,
.cart-item-count {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cart-item-count {
  flex: 1;
}
.cart-item-count-number {
  font-size: 14px;
  margin: 0 8px;
  width: 20px;
  text-align: center;
}
.cart-item-count-button {
  cursor: pointer;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 100%;
  background-color: #eee;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cart-item-count-button:hover {
  background-color: #ddd;
}
.cart-item-remove {
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: all 0.25s ease;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6c90e;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cart-item-remove:hover {
  background-color: #f8d43f;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.15);
}
.cart-item-remove img {
  width: 16px;
  height: 16px;
}
.cart-item-image {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background-color: #eee;
  margin-right: 34px;
}
.cart-item-image-block img {
  display: block;
  width: 140%;
  transform: rotate(-28deg) translateY(-40px);
  filter: drop-shadow(0 30px 20px rgba(0, 0, 0, 0.2));
}
.button-text-enter-active,
.button-text-leave-active {
  transition: opacity 0.15s, top 0.15s;
}
.button-text-enter,
.button-text-leave-to {
  opacity: 0;
}
.cart-list-enter .cart-item-right .cart-item-name,
.cart-list-enter .cart-item-right .cart-item-price {
  opacity: 0;
  transform: translateX(30px);
}
.cart-list-enter .cart-item-right .cart-item-count,
.cart-list-enter .cart-item-right .cart-item-remove {
  opacity: 0;
}
.cart-list-enter .cart-item-image,
.cart-list-enter .cart-item-image .cart-item-image-block {
  transform: scale(0);
}
.cart-list-enter-active {
  transition: all 2s;
}
.cart-list-enter-active .cart-item-right .cart-item-name,
.cart-list-enter-active .cart-item-right .cart-item-price {
  transition: 0.4s;
}
.cart-list-enter-active .cart-item-right .cart-item-name {
  transition-delay: 0.7s;
}
.cart-list-enter-active .cart-item-right .cart-item-price {
  transition-delay: 0.85s;
}
.cart-list-enter-active .cart-item-right .cart-item-count,
.cart-list-enter-active .cart-item-right .cart-item-remove {
  transition: opacity 0.4s;
  transition-delay: 1s;
}
.cart-list-enter-active .cart-item-image {
  transition: 0.5s cubic-bezier(0.79, 0.01, 0.22, 1);
}
.cart-list-enter-active .cart-item-image .cart-item-block {
  transition: 0.5s cubic-bezier(0.79, 0.01, 0.22, 1) 0.1s;
}
.cart-list-leave-active {
  transition: 0.7s cubic-bezier(0.79, 0.01, 0.22, 1);
}
.cart-list-leave-to {
  transform: scale(0);
  /* opacity: 0; */
}
.cart-list-move {
  transition: 0.7s cubic-bezier(0.79, 0.01, 0.22, 1);
}
.no-content-enter-active,
.no-content-leave-active {
  transition: opacity 0.7s;
  position: absolute;
}
.no-content-enter,
.no-content-leave-to {
  transform: scale(0);
  opacity: 0;
}

/* ANIMATION */

.animate {
  animation-duration: 0.75s;
  animation-delay: 0.5s;
  animation-name: animate-fade;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-fill-mode: backwards;
}

/* Fade In */
.fade {
  animation-name: animate-fade;
  animation-timing-function: ease;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Slide In */
.slide {
  animation-name: animate-slide;
}

@keyframes animate-slide {
  0% {
    opacity: 0;
    transform: translate(0, 40px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Slide Left */
.slide-left {
  animation-name: animate-slide-left;
}

@keyframes animate-slide-left {
  0% {
    opacity: 0;
    transform: translate(-40px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Slide Right */
.slide-right {
  animation-name: animate-slide-right;
}

@keyframes animate-slide-right {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Slide Logo */
.slide-logo {
  animation-name: slide-logo;
}

@keyframes slide-logo {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Animation Delays */
.delay-1 {
  animation-delay: 0.3s;
}
.delay-2 {
  animation-delay: 0.6s;
}
.delay-3 {
  animation-delay: 0.9s;
}
.delay-4 {
  animation-delay: 1.2s;
}
.delay-5 {
  animation-delay: 1.5s;
}
.delay-6 {
  animation-delay: 1.8s;
}
.delay-7 {
  animation-delay: 2.1s;
}
.delay-8 {
  animation-delay: 2.4s;
}
.delay-9 {
  animation-delay: 2.7s;
}
.delay-10 {
  animation-delay: 3s;
}
.delay-11 {
  animation-delay: 3.3s;
}
